#custom-alert {
  display: none;
  opacity: 0;
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border: 2px solid #6c6ceb;
  background: #000042;
  color: #6c6ceb;
  border-radius: 9px;
  transition: all 0.5s ease;
}

#custom-alert-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

#custom-alert-close {
  color: #6c6ceb;
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
}
